*{
  margin: 0px;
  box-sizing: border-box;
}
.header{
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.main{
  margin: 0rem 1rem;
  margin-bottom: 3rem;
}
.article-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.left-side, .right-side{
  width: 650px;
}
.article{
  margin-bottom: 3rem;
  line-height: 1.3rem;
  letter-spacing: 1px;
}
.picture{
  display: flex;
  justify-content: center;
}
.picture > img{
  width: 300px;
  height: 250px;
  margin-top: 2rem;
}
.article-header{
  margin-bottom: 8px;
  text-transform: uppercase;
}